# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/

# VS Code
.vscode/

# Environment Variables
.env

# macOS
.DS_Store

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
*.tar

venv/
__pycache__/
*.pyc
.pytest_cache/
