{% extends "base.html" %}

{% block content %}

<section class="hero">

    <h1>Welcome to DevOps</h1>
    
    <p>Your One Stop Online Shopping Destination</p>

    <a href="/products" class="btn">Shop Now</a>

</section>


<section class="products">

    <h2>Featured Products</h2>

    <div class="card-container">

        <div class="card">
            <h3>Laptop</h3>
            <p>₹75,000</p>
        </div>

        <div class="card">
            <h3>Smartphone</h3>
            <p>₹40,000</p>
        </div>

        <div class="card">
            <h3>Headphones</h3>
            <p>₹3,500</p>
        </div>

    </div>

</section>

{% endblock %}
